@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Base Styles */
html {
  font-size: 62.5%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
}
a {
  color: #fff;
  text-decoration: none;
}

/* --- SECTION LAYOUTS --- */
/* Header */
header {
  height: 75px;
  background: rgb(28, 29, 37);
  color: #fff;
}
header div {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header a {
  height: 35px;
  width: 115px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 15px;
  font-size: 2.2rem;
  background: rgb(217, 58, 58);
}
header a:hover {
  transform: scale(105%);
}
@media all and (min-width: 650px) {
  header div {
    max-width: 800px;
    margin: 0 auto;
  }
}

/* Main */
main {
  height: 70vh;
  background: rgb(28, 29, 37);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main section {
  width: 90%;
  margin: 0 auto;
}
main section:first-of-type {
  display: flex;
  justify-content: center;
}
main section:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main + section {
  height: 30vh;
  background: rgb(28, 29, 37);
  color: #fff;
  font-size: 1.8rem;
}
.scroll {
  height: 100%;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.scrollLine {
  height: 100%;
  border-right: 1px solid #fff;
}
@media all and (min-width: 650px) {
  main {
    flex-direction: row;
  }
  main section {
    margin: 0;
    max-width: 500px;
  }
  main section:first-of-type {
    justify-content: flex-end;
  }
  main section:last-of-type {
    align-items: flex-start;
    max-width: 500px;
  }
}
/* About Me */
.about-me {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me p {
  width: 90%;
}
@media all and (min-width: 650px) {
  .about-me p {
    max-width: 700px;
  }
}
@media all and (min-width: 1024px) {
  .about-me {
    padding: 100px 0;
  }
  .about-me h2 {
    padding-bottom: 40px;
  }
}

/* Projects */
.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(169, 188, 208);
}
.projects > h2 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects > ul {
  width: 90%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.projects > ul > li {
  width: 100%;
  height: 35vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: #fff;
}
.projects > ul > li:hover {
  transform: scale(101%);
}
.projects > ul > li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cardInfo {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.projects ul li ul {
  display: flex;
  gap: 15px;
  margin-left: 15px;
}

@media all and (min-width: 650px) {
  .projects {
    height: 70vh;
  }
  .projects > ul {
    max-width: 1400px;
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
  }
  .projects > ul > li {
    flex-basis: 40%;
  }
}

/* Skills */
.skills {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills ul {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
}
.skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 650px) {
  .skills ul {
    max-width: 550px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1024px) {
  .skills {
    padding: 100px 0;
  }
  .skills h2 {
    padding-bottom: 40px;
  }
  .skills ul {
    max-width: 750px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

/* Get in Touch */
.contact {
  background: rgb(28, 29, 37);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact h2,
.contact p {
  max-width: 650px;
}

/* Attribution */
.attribution {
  background: rgb(28, 29, 37);
}
.attribution > div:first-of-type {
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.6rem;
}
.attribution a {
  color: #a8a8a8;
}

/* TYPOGRAPHY */
h1 {
  font-size: 4rem;
}
h1 span {
  font-weight: 700;
}
h2 {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: rgb(28, 29, 37);
  padding-bottom: 20px;
  text-align: center;
}
.contact h2,
.contact p {
  color: #fff;
}
h3 {
  font-size: 2.2rem;
  font-weight: 700;
  color: rgb(28, 29, 37);
  margin-left: 15px;
}
h4 {
  font-size: 1.8rem;
  color: #a8a8a8;
}
p {
  font-size: 2.2rem;
}
.scroll a {
  letter-spacing: 0.1rem;
}
.scroll a:hover {
  letter-spacing: 0.2rem;
}
.skills span {
  color: rgb(28, 29, 37);
  font-size: 1.8rem;
}

/* IMAGES & ICONS */
/* Header */
header svg {
  height: 2.2rem;
  fill: #fff;
}

/* Main */
.avatarBG {
  width: 200px;
  height: 200px;
  background: rgb(169, 188, 208);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatarBG img {
  width: 115%;
  padding-bottom: 10%;
  padding-right: 15%;
}
@media all and (min-width: 650px) {
  .avatarBG {
    width: 300px;
    height: 300px;
  }
}
@media all and (min-width: 1000px) {
  .avatarBG {
    width: 320px;
    height: 320px;
    padding-bottom: 0;
  }
}

/* Projects */
.projects img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center top;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.projects img[src$='svg'] {
  height: 3.6rem;
  width: auto;
  border-radius: 0px;
}

/* Skills */
img {
  height: 64px;
  fill: rgb(28, 29, 37);
}
.adobeLogo {
  transform: scale(135%);
}
.figmaLogo {
  transform: scale(90%);
}
.mongoDBLogo {
  transform: scale(155%);
}
.resolveLogo:hover {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-name: resolveRotation;
}
@keyframes resolveRotation {
  from {
    transform: rotateZ(1deg) scale(100%);
  }
  50% {
    transform: rotateZ(180deg) scale(110%);
  }
  to {
    transform: rotateZ(359deg) scale(100%);
  }
}
