@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Base Styles */
:root {
  --dark-blue: #1c1d25;
  --light-blue: #a9bcd0;
  --grey-blue: #90a6bb;
  --dark-red: #d93a3a;
  --white: #ffffff;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
}
a {
  color: var(--white);
  text-decoration: none;
}

/* --- SECTION LAYOUTS --- */
/* Header */
header {
  height: 75px;
  background: var(--dark-blue);
  color: var(--white);
}
header div {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header a {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 15px;
  font-size: 2.2rem;
  background: var(--dark-red);
}
header a:hover {
  transform: scale(105%);
}
@media all and (min-width: 500px) {
  header div {
    max-width: 800px;
    margin: 0 auto;
  }
}

/* Main */
main {
  height: 70vh;
  background: var(--dark-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main section {
  width: 90%;
  margin: 0 auto;
}
main section:first-of-type {
  display: flex;
  justify-content: center;
}
main section:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main + section {
  height: 30vh;
  background: var(--dark-blue);
  color: var(--white);
  font-size: 1.8rem;
}
.scroll {
  height: 100%;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.scrollLine {
  height: 100%;
  border-right: 1px solid var(--white);
}
@media all and (min-width: 1024px) {
  main {
    flex-direction: row;
  }
  main section {
    margin: 0;
    max-width: 500px;
  }
  main section:first-of-type {
    justify-content: flex-end;
  }
  main section:last-of-type {
    align-items: flex-start;
    max-width: 500px;
  }
}
/* About Me */
.about-me {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me p {
  width: 90%;
}
@media all and (min-width: 500px) {
  .about-me p {
    max-width: 700px;
  }
}
@media all and (min-width: 1024px) {
  .about-me {
    padding: 100px 0;
  }
  .about-me h2 {
    padding-bottom: 40px;
  }
}

/* Projects */
.projects {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light-blue);
}
.projects > ul {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.projects > ul > li {
  width: 100%;
  height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: var(--white);
}
.projects > ul > li:hover {
  transform: scale(101%);
}
.projects > ul > li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cardInfo {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.projects ul li ul {
  display: flex;
  gap: 15px;
  margin-left: 15px;
}

@media all and (min-width: 500px) {
  .projects > ul {
    max-width: 1024px;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }
  .projects > ul > li {
    flex-basis: 30%;
  }
}

@media all and (min-width: 1024px) {
  .projects {
    padding: 100px 0;
  }
  .projects h2 {
    padding-bottom: 40px;
  }
}

/* Skills */
.skills {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills ul {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
}
.skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 500px) {
  .skills ul {
    max-width: 550px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1024px) {
  .skills {
    padding: 100px 0;
  }
  .skills h2 {
    padding-bottom: 40px;
  }
  .skills ul {
    max-width: 750px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

/* Get in Touch */
.contact {
  background: var(--dark-blue);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact p {
  width: 90%;
}
.contact h2,
.contact p {
  max-width: 650px;
}
.contact ul {
  padding-top: 30px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
}
.contact a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 500px) {
  .contact ul {
    max-width: 550px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1024px) {
  .contact {
    padding: 100px 0;
  }
  .contact h2 {
    padding-bottom: 40px;
  }
  .contact ul {
    padding-top: 40px;
    max-width: 750px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
/* Attribution */
.attribution {
  background: var(--dark-blue);
}
.attribution > div {
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;
  border-top: 1px solid var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.6rem;
}

/* TYPOGRAPHY */
h1 {
  font-size: 4rem;
}
h1 span {
  font-weight: 700;
}
h2 {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--dark-blue);
  padding-bottom: 20px;
  text-align: center;
}
.contact h2,
.contact p {
  color: var(--white);
}
.attribution h2 {
  color: var(--grey-blue);
  font-size: 1.8rem;
  text-align: left;
  padding-bottom: 0;
}
h3 {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--dark-blue);
  margin-left: 15px;
}
p {
  font-size: 2.2rem;
}
.scroll a {
  letter-spacing: 0.1rem;
}
.scroll a:hover {
  letter-spacing: 0.2rem;
}
.skills span {
  color: var(--dark-blue);
  font-size: 1.8rem;
}
.contact ul {
  color: var(--white);
  font-size: 1.8rem;
}
.attribution a {
  color: var(--grey-blue);
}

/* IMAGES & ICONS */
/* Header */
header img {
  height: 2.2rem;
}

/* Main */
.avatarBG {
  width: 200px;
  height: 200px;
  background: var(--light-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.avatarBG img {
  height: 90%;
  position: absolute;
  left: 5%;
  bottom: 0;
  /* padding-bottom: 10%;
  padding-right: 15%; */
}
@media all and (min-width: 500px) {
  .avatarBG {
    width: 300px;
    height: 300px;
  }
}
@media all and (min-width: 1000px) {
  .avatarBG {
    width: 320px;
    height: 320px;
    padding-bottom: 0;
  }
}

/* Projects */
.projects img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center top;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.projects img[src$='svg'] {
  height: 3.6rem;
  width: auto;
  border-radius: 0px;
}

/* Skills */
.skills img {
  height: 64px;
  fill: var(--dark-blue);
}
.adobeLogo {
  transform: scale(135%);
}
.figmaLogo {
  transform: scale(90%);
}
.mongoDBLogo {
  transform: scale(155%);
}
.resolveLogo:hover {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-name: resolveRotation;
}
@keyframes resolveRotation {
  from {
    transform: rotateZ(1deg) scale(100%);
  }
  50% {
    transform: rotateZ(180deg) scale(110%);
  }
  to {
    transform: rotateZ(359deg) scale(100%);
  }
}

/* Contact */

.contact img {
  height: 48px;
}

/* TODO refactor */
/* TODO circle BG color change on scroll */
